.info-articles {
  background: #f1f1f1;
  padding: 5vh 0;
  &__container {
    @media (min-width: 800px) {
      display: grid;
      grid-gap: 5vh;
      grid-template-columns: 2fr 1fr;
      max-inline-size: 1200px;
      margin: auto;
      padding: unset;
    }
  }
  &__first {
    @include article-block("img-article");

    @media (min-width: 800px) {
      grid-row: 1;
    }

    &__text {
      @include article-text("img-article");
    }
  }
  &__second {
    @include article-block("img-article");

    @media (min-width: 800px) {
      grid-row: 2;
    }

    &__text {
      @include article-text("img-article");
    }
  }

  &__last {
    @include article-block("img-article");
    margin: 0;

    @media (min-width: 800px) {
      grid-row: span 2;
      grid-template-columns: unset;
      padding: 0 10px;
    }

    &__text {
      @include article-text("img-article");
      @media (min-width: 800px) {
        padding: 0 3vw 4vw 3vw;
        justify-content: space-between;
      }
      // h3,
      // p {
      //   @media (min-width: 500px) {
      //     max-inline-size: 40ch;
      //   }
      //   @media (min-width: 800px) {
      //     max-inline-size: 30ch;
      //   }
      // }
    }
  }

  h2 {
    text-align: center;
    padding: 5vh 0 10vh 0;
  }

  h3,
  p {
    margin-bottom: 2vh;
  }

  p {
    font-size: 14px;
    @media (min-width: 800px) {
      font-size: 16px;
    }
  }

  .read-more-btn {
    place-self: center;

    @media (min-width: 500px) {
      place-self: unset;
    }

    button {
      @include button;
    }
  }
}
