.faq-section {
  background: #f1f1f1;
  padding: 5vh 0;
  &__container {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5vh;
  }
  &__why-move {
    display: grid;
    padding: 5vh 0;
    background: white;
  }
  &__risks {
    display: grid;
    padding: 5vh 0;
    background: white;
  }
  &__what-to-do {
    padding: 5vh 0;
    background: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
  &__travel-time {
    display: grid;
    padding: 5vh 0;
    background: white;
    grid-template-rows: auto minmax(375px, 1fr);

    .planet-images {
      background-image: radial-gradient(
        circle at 50% 39%,
        #072142,
        #00132c 101%
      );
      display: grid;
      justify-content: center;
      grid-template-rows: repeat(3, 1fr);
      padding: 5vh 0;
      min-inline-size: 375px;
      grid-template-columns: 1fr;
      &__mars {
        max-inline-size: 30px;
        max-block-size: 30px;
        display: block;
        justify-self: center;
      }
      &__sun {
        max-inline-size: 50px;
        max-block-size: 50px;
        justify-self: center;
      }
      &__earth {
        max-inline-size: 25px;
        max-block-size: 25px;
        justify-self: center;
      }
    }
  }

  h2 {
    text-align: center;
    padding: 5vh 0 10vh 0;
  }

  h3,
  p {
    margin-bottom: 5vh;
  }

  .read-more-btn {
    place-self: center;
    margin-top: 5vh;
  }
}
