.faq-section {
  background: #f1f1f1;
  padding: 5vh 0;
  &__container {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5vh;
  }
  &__why-move {
    display: grid;
    padding: 5vh 0;
    background: white;
  }
  &__risks {
    display: grid;
    padding: 5vh 0;
    background: white;
  }
  &__what-to-do {
    padding: 5vh 0;
    background: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
  &__travel-time {
    display: grid;
    padding: 5vh 0;
    background: white;
    grid-template-rows: auto minmax(375px, 1fr);
  }
  h2 {
    text-align: center;
    padding: 5vh 0 10vh 0;
  }

  h3,
  p {
    margin-bottom: 5vh;
  }

  .read-more-btn {
    place-self: center;
    margin-top: 5vh;
  }
}
