$color--variation-1: #ffffff;
$color--variation-2: #f1f1f1;
$color--variation-3: #2c4f80;
$color--variation-4: #436dac;
$color--variation-5: #e32700;
$color--variation-6: #f97c7c;
$color--variation-7: #323232;

$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;
