.footer {
  display: flex;
  justify-content: center;
  background: $color--variation-3;
  min-block-size: 300px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-block-size: 100px;
    margin: auto;
    text-align: center;
    color: $color--variation-1;
    max-inline-size: 80vw;
  }

  h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1.11px;
  }

  span {
    font-size: 12px;
    letter-spacing: 0.44px;
  }

  a {
    text-decoration: none;
    color: $color--variation-6;
    display: inline-block;
    &:hover {
      border-bottom: 1px solid $color--variation-1;
      transition: all ease-in 200ms;
    }
  }
}
