.hero {
  block-size: 100vh;
  display: grid;
  position: relative;
  z-index: -2;

  @media (min-width: 600px) {
    block-size: 100vh;
  }

  &__background {
    &--index {
      @include hero-bgimg("index");
    }
    &--faq {
      @include hero-bgimg("faq");
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-inline-size: 325px;
    max-block-size: 260px;
    top: 14vw;
    justify-self: center;
    grid-area: 1 / 1;
    z-index: 1;

    @media (min-width: 800px) {
      justify-self: center;
      margin-left: auto;
      margin-right: 10vw;
      max-inline-size: 45vw;
      top: 15vw;
      top: 123px;
    }
    @media (min-width: 1000px) {
      margin-left: auto;
      margin-right: 10vw;
      max-inline-size: 480px;
      top: 15vw;
      top: 123px;
    }

    &--bigger {
      max-inline-size: 350px;
      @media (min-width: 800px) {
        max-inline-size: 46vw;
      }
      @media (min-width: 1000px) {
        max-inline-size: 600px;
      }
    }

    h1 {
      transition: font-size ease-in 200ms;
      @include hero-heading;
      @media (min-width: 620px) {
        border-bottom: 7px solid $color--variation-1;
        font-size: 5vw;
        letter-spacing: 2.22px;
      }
      @media (min-width: 1000px) {
        font-size: 60px;
        letter-spacing: 2.22px;
      }
    }

    span {
      transition: font-size ease-in 200ms;
      @include hero-span;

      @media (min-width: 650px) {
        font-size: 3vw;
      }
      @media (min-width: 1000px) {
        font-size: 40px;
      }
    }
  }
  &::before,
  &::after {
    @include hero-blobs-basics("top");
  }

  &::before {
    @include hero-back-blob;
  }

  &::after {
    @include hero-front-blob;
  }
}

.hero--bottom-blob {
  block-size: 100vh;
  display: grid;
  position: relative;
  z-index: -2;

  @media (min-width: 600px) {
    block-size: 100vh;
  }

  &__background {
    &--join {
      @include hero-bgimg("join");
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-inline-size: 325px;
    max-block-size: 260px;
    grid-area: 1 / 1;
    z-index: 1;
    margin-left: 5vw;
    margin-right: auto;
    bottom: 60px;
    align-self: end;

    @media (min-width: 600px) {
      max-inline-size: 57vw;
    }
    @media (min-width: 800px) {
      max-inline-size: 480px;
    }

    h1 {
      @include hero-heading;
      @media (min-width: 600px) {
        border-bottom: 7px solid $color--variation-1;
        font-size: 7vw;
        letter-spacing: 2.22px;
      }
      @media (min-width: 800px) {
        font-size: 60px;
        letter-spacing: 2.22px;
      }
    }

    span {
      @include hero-span;

      @media (min-width: 600px) {
        font-size: 5vw;
      }
      @media (min-width: 800px) {
        font-size: 40px;
      }
    }
  }
  &::before,
  &::after {
    @include hero-blobs-basics("bottom");
  }

  &::before {
    @include hero-back-blob("bottom");
  }

  &::after {
    @include hero-front-blob;
  }
}
