* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
  font-weight: 800;
}

@media (min-width: 600px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 800px) {
  h3 {
    font-size: 24px;
  }
}

.top-header {
  padding: 10px 0;
  background: #061b38;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-block-size: 80px;
  padding: 0 3vw;
}

@media (min-width: 450px) {
  .top-header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 450px) {
  .top-header__nav {
    margin-left: auto;
    min-inline-size: 290px;
  }
}

.top-header__nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__nav .nav-list__item {
  padding: 0 10px;
}

.top-header__nav .nav-list .active {
  border-bottom: 3px solid #e32700;
}

.top-header__nav .nav-list__item a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.top-header__nav .nav-list__item a:hover {
  color: #e32700;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

.top-header img {
  max-block-size: 43px;
  max-inline-size: 68px;
}

.main {
  overflow: hidden;
}

.main .image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .image-wrapper__img {
  display: block;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.main .image-wrapper__icon {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: unset;
     object-position: unset;
  height: 190px;
  width: 190px;
  max-height: 300px;
  max-width: 300px;
}

.hero {
  block-size: 100vh;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: -2;
}

@media (min-width: 600px) {
  .hero {
    block-size: 100vh;
  }
}

.hero__background--index {
  background-size: cover;
  background-position: center center;
  background-image: radial-gradient(circle at 50% 0, #7b1a1ab8, #350b0f87 93%), url(../assets/img/page-1/hero-1.jpg);
}

.hero__background--faq {
  background-size: cover;
  background-position: center center;
  background-image: radial-gradient(circle at 50% 0, #7b1a1ab8, #350b0f87 93%), url(../assets/img/page-2/hero-2.jpg);
}

.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-inline-size: 325px;
  max-block-size: 260px;
  top: 14vw;
  justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  z-index: 1;
}

@media (min-width: 800px) {
  .hero__container {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: auto;
    margin-right: 10vw;
    max-inline-size: 45vw;
    top: 15vw;
    top: 123px;
  }
}

@media (min-width: 1000px) {
  .hero__container {
    margin-left: auto;
    margin-right: 10vw;
    max-inline-size: 480px;
    top: 15vw;
    top: 123px;
  }
}

.hero__container--bigger {
  max-inline-size: 350px;
}

@media (min-width: 800px) {
  .hero__container--bigger {
    max-inline-size: 46vw;
  }
}

@media (min-width: 1000px) {
  .hero__container--bigger {
    max-inline-size: 600px;
  }
}

.hero__container h1 {
  -webkit-transition: font-size ease-in 200ms;
  transition: font-size ease-in 200ms;
  max-inline-size: 14ch;
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  border-bottom: 5px solid #ffffff;
  letter-spacing: 2.22px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (min-width: 620px) {
  .hero__container h1 {
    border-bottom: 7px solid #ffffff;
    font-size: 5vw;
    letter-spacing: 2.22px;
  }
}

@media (min-width: 1000px) {
  .hero__container h1 {
    font-size: 60px;
    letter-spacing: 2.22px;
  }
}

.hero__container span {
  -webkit-transition: font-size ease-in 200ms;
  transition: font-size ease-in 200ms;
  font-size: 20px;
  color: #436dac;
  letter-spacing: 1.48px;
  max-inline-size: 20ch;
  font-weight: 700;
}

@media (min-width: 650px) {
  .hero__container span {
    font-size: 3vw;
  }
}

@media (min-width: 1000px) {
  .hero__container span {
    font-size: 40px;
  }
}

.hero::before, .hero::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  content: "";
  display: block;
  height: 120vw;
  width: 141%;
  -webkit-clip-path: ellipse(50% 35% at 38.82% 14.42%);
          clip-path: ellipse(50% 35% at 38.82% 14.42%);
  position: absolute;
  min-block-size: 700px;
  -webkit-transform: rotate(10deg) translateY(3px);
          transform: rotate(10deg) translateY(3px);
  top: -60px;
  left: -54px;
}

@media (min-width: 580px) {
  .hero::before, .hero::after {
    left: -100px;
  }
}

@media (min-width: 800px) {
  .hero::before, .hero::after {
    height: 200%;
    width: 141%;
    top: -210px;
    left: -100px;
  }
}

.hero::before {
  content: "";
  -webkit-transform: rotate(10deg) translateY(3px);
          transform: rotate(10deg) translateY(3px);
  background-image: linear-gradient(182deg, rgba(21, 52, 98, 0.9) -14%, #5e98e2c4 61%);
  top: -50px;
  transform: rotate(10deg) translateY(3px);
}

@media (min-width: 800px) {
  .hero::before {
    top: -200px;
  }
}

.hero::after {
  content: "";
  background-image: linear-gradient(195deg, #00132c 36%, #146eab 89%);
}

.hero--bottom-blob {
  block-size: 100vh;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: -2;
}

@media (min-width: 600px) {
  .hero--bottom-blob {
    block-size: 100vh;
  }
}

.hero--bottom-blob__background--join {
  background-size: cover;
  background-position: center center;
  background-image: radial-gradient(circle at 50% 0, #7b1a1ab8, #350b0f87 93%), url(../assets/img/page-3/hero-3.jpg);
}

.hero--bottom-blob__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-inline-size: 325px;
  max-block-size: 260px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  z-index: 1;
  margin-left: 5vw;
  margin-right: auto;
  bottom: 60px;
  -ms-flex-item-align: end;
      align-self: end;
}

@media (min-width: 600px) {
  .hero--bottom-blob__container {
    max-inline-size: 57vw;
  }
}

@media (min-width: 800px) {
  .hero--bottom-blob__container {
    max-inline-size: 480px;
  }
}

.hero--bottom-blob__container h1 {
  max-inline-size: 14ch;
  color: #ffffff;
  font-weight: 800;
  font-size: 30px;
  border-bottom: 5px solid #ffffff;
  letter-spacing: 2.22px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .hero--bottom-blob__container h1 {
    border-bottom: 7px solid #ffffff;
    font-size: 7vw;
    letter-spacing: 2.22px;
  }
}

@media (min-width: 800px) {
  .hero--bottom-blob__container h1 {
    font-size: 60px;
    letter-spacing: 2.22px;
  }
}

.hero--bottom-blob__container span {
  font-size: 20px;
  color: #436dac;
  letter-spacing: 1.48px;
  max-inline-size: 20ch;
  font-weight: 700;
}

@media (min-width: 600px) {
  .hero--bottom-blob__container span {
    font-size: 5vw;
  }
}

@media (min-width: 800px) {
  .hero--bottom-blob__container span {
    font-size: 40px;
  }
}

.hero--bottom-blob::before, .hero--bottom-blob::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
  content: "";
  display: block;
  height: 120vw;
  width: 141%;
  -webkit-clip-path: ellipse(50% 35% at 38.82% 14.42%);
          clip-path: ellipse(50% 35% at 38.82% 14.42%);
  position: absolute;
  min-block-size: 700px;
  -webkit-transform: rotate(200deg) translateY(3px);
          transform: rotate(200deg) translateY(3px);
  height: 200%;
  width: 178vw;
  top: -290px;
  left: -40vw;
}

@media (min-width: 600px) {
  .hero--bottom-blob::before, .hero--bottom-blob::after {
    height: 200%;
    width: 170vw;
    top: -380px;
    left: -40vw;
  }
}

.hero--bottom-blob::before {
  content: "";
  -webkit-transform: rotate(10deg) translateY(3px);
          transform: rotate(10deg) translateY(3px);
  background-image: linear-gradient(182deg, rgba(21, 52, 98, 0.9) -14%, #5e98e2c4 61%);
  top: -50px;
  -webkit-transform: rotate(200deg) translateY(3px);
          transform: rotate(200deg) translateY(3px);
  top: -300px;
}

@media (min-width: 600px) {
  .hero--bottom-blob::before {
    top: -390px;
  }
}

.hero--bottom-blob::after {
  content: "";
  background-image: linear-gradient(195deg, #00132c 36%, #146eab 89%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2c4f80;
  min-block-size: 300px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-block-size: 100px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  max-inline-size: 80vw;
}

.footer h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.footer span {
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  color: #f97c7c;
  display: inline-block;
}

.footer a:hover {
  border-bottom: 1px solid #ffffff;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
}

.brand-new-sky__article {
  padding: 5vh 5vw;
  background: white;
  margin-bottom: 5vh;
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
  -ms-grid-rows: minmax(350px, 2fr) auto;
      grid-template-rows: minmax(350px, 2fr) auto;
}

@media (min-width: 900px) {
  .brand-new-sky__article {
    padding: 5vh 5vw;
    margin-bottom: 0vh;
  }
}

@media (min-width: 800px) {
  .brand-new-sky__article {
    padding: 0;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: minmax(350px, 1fr) 1fr;
        grid-template-columns: minmax(350px, 1fr) 1fr;
  }
}

@media (min-width: 900px) {
  .brand-new-sky__article {
    -ms-grid-columns: minmax(350px, 1fr) 2fr;
        grid-template-columns: minmax(350px, 1fr) 2fr;
  }
}

.brand-new-sky__article__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 5vh 4vw 0 4vw;
}

@media (min-width: 500px) {
  .brand-new-sky__article__text {
    padding: 3vw 4vw 3vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: unset;
        justify-self: unset;
    max-inline-size: unset;
  }
}

@media (min-width: 500px) {
  .brand-new-sky__article__text {
    padding: 5vh 4vw 0 4vw;
  }
}

@media (min-width: 800px) {
  .brand-new-sky__article__text {
    padding: 4vw;
  }
}

@media (min-width: 900px) {
  .brand-new-sky__article__text {
    padding: 10vw 5vw;
  }
}

.brand-new-sky__article__text h2 {
  color: #e32700;
  margin-bottom: 5vh;
}

.brand-new-sky__article__text p {
  font-size: 16px;
  margin-bottom: 5vh;
  font-weight: 400;
}

@media (min-width: 800px) {
  .brand-new-sky__article__text p {
    font-size: 18px;
    margin: 0;
  }
}

.brand-new-sky__article__text em {
  font-style: unset;
  font-weight: 700;
  color: #e32700;
}

.brand-new-sky__article .max-grow {
  max-height: 400px;
}

@media (min-width: 800px) {
  .brand-new-sky__article .max-grow {
    max-height: 100%;
  }
}

.info-articles {
  background: #f1f1f1;
  padding: 5vh 0;
}

@media (min-width: 800px) {
  .info-articles__container {
    display: -ms-grid;
    display: grid;
    grid-gap: 5vh;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    max-inline-size: 1200px;
    margin: auto;
    padding: unset;
  }
}

.info-articles__first {
  background: white;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

@media (min-width: 500px) {
  .info-articles__first {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: unset;
  }
}

@media (min-width: 800px) {
  .info-articles__first {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .info-articles__first {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.info-articles__first__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 5vh 4vw 0 4vw;
}

@media (min-width: 500px) {
  .info-articles__first__text {
    padding: 3vw 4vw 3vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: unset;
        justify-self: unset;
    max-inline-size: unset;
  }
}

.info-articles__second {
  background: white;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

@media (min-width: 500px) {
  .info-articles__second {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: unset;
  }
}

@media (min-width: 800px) {
  .info-articles__second {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .info-articles__second {
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.info-articles__second__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 5vh 4vw 0 4vw;
}

@media (min-width: 500px) {
  .info-articles__second__text {
    padding: 3vw 4vw 3vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: unset;
        justify-self: unset;
    max-inline-size: unset;
  }
}

.info-articles__last {
  background: white;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  margin: 0;
}

@media (min-width: 500px) {
  .info-articles__last {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: unset;
  }
}

@media (min-width: 800px) {
  .info-articles__last {
    margin: 0;
  }
}

@media (min-width: 800px) {
  .info-articles__last {
    grid-row: span 2;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    padding: 0 10px;
  }
}

.info-articles__last__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 5vh 4vw 0 4vw;
}

@media (min-width: 500px) {
  .info-articles__last__text {
    padding: 3vw 4vw 3vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: unset;
        justify-self: unset;
    max-inline-size: unset;
  }
}

@media (min-width: 800px) {
  .info-articles__last__text {
    padding: 0 3vw 4vw 3vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.info-articles h2 {
  text-align: center;
  padding: 5vh 0 10vh 0;
  color: #2c4f80;
}

.info-articles h3 {
  color: #e32700;
}

.info-articles h3,
.info-articles p {
  margin-bottom: 2vh;
}

.info-articles p {
  font-size: 14px;
  color: #323232;
  font-weight: 500;
}

@media (min-width: 800px) {
  .info-articles p {
    font-size: 16px;
  }
}

.info-articles .read-more-btn {
  place-self: center;
}

@media (min-width: 500px) {
  .info-articles .read-more-btn {
    place-self: unset;
  }
}

.info-articles .read-more-btn button {
  font-size: 14px;
  padding: 10px 24px;
  border: 1px solid #436dac;
  border-radius: 4px;
  max-inline-size: 128px;
  max-block-size: 38px;
  color: #2c4f80;
  background: none #fff;
  border-color: #436dac;
}

.faq-section {
  background: #f1f1f1;
  padding-top: 5vh;
}

@media (min-width: 900px) {
  .faq-section__container {
    display: -ms-grid;
    display: grid;
    grid-gap: 5vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
}

@media (min-width: 950px) {
  .faq-section__container {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.faq-section__why-move {
  padding: 5vh 5vw;
  background: white;
  margin-bottom: 5vh;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

@media (min-width: 900px) {
  .faq-section__why-move {
    padding: 5vh 5vw;
    margin-bottom: 0vh;
  }
}

@media (min-width: 900px) {
  .faq-section__why-move {
    grid-row: span 2;
  }
}

@media (min-width: 950px) {
  .faq-section__why-move {
    min-width: 460px;
  }
}

.faq-section__why-move__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

@media (min-width: 900px) {
  .faq-section__why-move__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-inline-size: unset;
  }
}

.faq-section__risks {
  padding: 5vh 5vw;
  background: white;
  margin-bottom: 5vh;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

@media (min-width: 900px) {
  .faq-section__risks {
    padding: 5vh 5vw;
    margin-bottom: 0vh;
  }
}

.faq-section__risks ul {
  padding: 0 1em;
}

.faq-section__risks li {
  font-weight: 700;
  font-size: 14px;
  margin: 1em 0;
  color: #e32700;
}

.faq-section__risks li span {
  color: #323232;
}

.faq-section__risks__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

@media (min-width: 900px) {
  .faq-section__risks__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-inline-size: unset;
  }
}

.faq-section__what-to-do {
  background: white;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  padding-top: 5vh;
  padding-bottom: 0;
}

@media (min-width: 500px) {
  .faq-section__what-to-do {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: unset;
  }
}

@media (min-width: 800px) {
  .faq-section__what-to-do {
    margin: 0;
  }
}

@media (min-width: 900px) {
  .faq-section__what-to-do {
    margin-bottom: 0vh;
  }
}

.faq-section__what-to-do__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 5vh 4vw 0 4vw;
}

@media (min-width: 500px) {
  .faq-section__what-to-do__text {
    padding: 3vw 4vw 3vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: unset;
        justify-self: unset;
    max-inline-size: unset;
  }
}

.faq-section__what-to-do__text p {
  margin-bottom: 5vh;
}

@media (min-width: 500px) {
  .faq-section__what-to-do__text {
    padding: 5vw 0 5vw 5vw;
  }
  .faq-section__what-to-do__text p {
    margin-bottom: 0;
  }
}

.faq-section__travel-time {
  background: white;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 0;
  padding-top: 5vh;
  margin: 0;
}

@media (min-width: 500px) {
  .faq-section__travel-time {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding: unset;
  }
}

@media (min-width: 800px) {
  .faq-section__travel-time {
    margin: 0;
  }
}

@media (min-width: 900px) {
  .faq-section__travel-time {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-column: span 2;
  }
}

.faq-section__travel-time__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 5vh 4vw 0 4vw;
  margin-bottom: 5vh;
}

@media (min-width: 500px) {
  .faq-section__travel-time__text {
    padding: 3vw 4vw 3vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column-align: unset;
        justify-self: unset;
    max-inline-size: unset;
  }
}

@media (min-width: 500px) {
  .faq-section__travel-time__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 5vh;
  }
}

.faq-section h2 {
  text-align: center;
  padding: 5vh 0 10vh 0;
  color: #2c4f80;
}

.faq-section h3 {
  color: #e32700;
  margin-bottom: 5vh;
}

.faq-section p {
  font-size: 14px;
  color: #323232;
  font-weight: 500;
}

@media (min-width: 800px) {
  .faq-section p {
    font-size: 16px;
  }
}

.planet-images {
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  padding: 5vh 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-block-size: 300px;
}

@media (min-width: 900px) {
  .planet-images {
    min-inline-size: 390px;
    min-block-size: 390px;
  }
}

.planet-images__mars {
  max-inline-size: 30px;
  max-block-size: 30px;
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
}

.planet-images__sun {
  max-inline-size: 50px;
  max-block-size: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.planet-images__earth {
  max-inline-size: 25px;
  max-block-size: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.join-us-section {
  background: #f1f1f1;
  padding-bottom: 5vh;
}

.join-us-section .heading-container {
  max-inline-size: 90vw;
  margin: auto;
  text-align: center;
  padding: 15vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-us-section .heading-container h2 {
  color: #e32700;
  margin-bottom: 5vh;
}

.join-us-section .heading-container span {
  color: #2c4f80;
  font-weight: 400;
  font-size: 15px;
  display: block;
  max-inline-size: 30ch;
}

@media (min-width: 600px) {
  .join-us-section .heading-container span {
    font-size: 24px;
  }
}

.sign-up {
  background: white;
  max-inline-size: 1200px;
  margin: auto;
  padding: 20px 5px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
}

@media (min-width: 400px) {
  .sign-up {
    padding: 20px;
  }
}

.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up__form .inputs__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 690px) {
  .sign-up__form .inputs__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (min-width: 770px) {
  .sign-up__form .inputs__grid {
    -ms-grid-columns: 1fr 1fr 205px;
        grid-template-columns: 1fr 1fr 205px;
  }
}

@media (min-width: 1180px) {
  .sign-up__form .inputs__grid {
    -ms-grid-columns: 2fr 2fr 1fr;
        grid-template-columns: 2fr 2fr 1fr;
  }
}

.sign-up__form .inputs__grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 690px) {
  .sign-up__form .inputs__grid__item .input__size {
    min-inline-size: 205px;
    max-inline-size: 400px;
  }
}

@media (min-width: 690px) {
  .sign-up__form .inputs__grid__item .input__size--smaller {
    max-inline-size: 225px;
    min-inline-size: 205px;
  }
}

.sign-up__form .motivation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
}

.sign-up__form .motivation__textarea {
  block-size: 20vw;
  max-block-size: 280px;
  min-block-size: 100px;
}

.sign-up__form .submit-btn {
  font-size: 14px;
  padding: 10px 24px;
  border: 1px solid #436dac;
  border-radius: 4px;
  max-inline-size: 128px;
  max-block-size: 38px;
  color: #2c4f80;
  background: none #fff;
  border-color: #436dac;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sign-up__form .labels {
  margin-bottom: 5px;
  color: #2c4f80;
}

.sign-up input,
.sign-up textarea {
  border: 1px solid #436dac;
  border-radius: 5px;
}

.sign-up input {
  height: 39px;
}
/*# sourceMappingURL=style.css.map */